<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="error-page">
  <h1>404</h1>

  <p>Сторінку не знайдено</p>

  <a href="/">Повернутись на головну</a>
</div>

</body>
</html>